.starting {
  padding: 0 20%;
}
.starting .border {
  border: 1px solid #2b7786;
  margin: 100px auto;
  padding: 20px;
}

.starting .border h1 {
  color: #011a3b;
  font-size: 24px;
}

.textcontainer h1 {
  color: #fff !important;
  font-size: 18px !important;
}
.startingbutton {
  max-width: 100%;
  width: 100%;
  background-color: transparent;
  margin: 10px 0px;
  border: 1px solid #011a3b;
}
.starting .doctor {
  color: #011a3b;
  cursor: pointer; /* Change cursor to pointer on hoverable element */
  transition: all 0.3s ease-in-out;
}

.starting .doctor:hover {
  color: #fff;
  background-color: #011a3b;
  border: 1px solid #011a3b;
}

.starting .user {
  transition: all 0.3s ease-in-out;
  background-color: #011a3b !important;
}
.starting .user:hover {
  border: 1px solid #011a3b;
  color: #011a3b;
  background-color: transparent !important;
}

.login-details {
  margin-top: 20px;
}

.login-details .text-pwd {
  text-align: end;
}
.imagecontainer {
  position: relative;
}
.textcontainer {
  position: absolute;
  bottom: 0;
  z-index: 2;
  width: 100%;
  padding: 2px;
  overflow: hidden;
}

@media (max-width: 500px) {
  .login-details h2 {
    font-size: 12px !important;
  }
}
