.custom-input {
  width: 100%;
  height: 50px;
  border: 1px solid #eee;
  margin: 20px 0;
  padding: 13px 18px;
  color: #589bff !important;
  font-size: 14px;
  font-weight: 200;
}

.custom-input:focus-visible {
  outline: #589bff solid 1px !important;
}
